[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
	branch = master
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
	branch = develop
