[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
	branch = master
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
