[Unit]
Description=Some Service
After=something.service
Requires=something.service

[Service]
Type=simple
ExecStart=/bin/foo

[Install]
WantedBy=multi-user.target
